<div class="column" [ngStyle]="{'background-color': status.bgColor}">
  <div class="heading">
    <span class="column_name"><a [href]="status.filterUrl" target="_blank">
      {{status.title}}
    </a></span><span [class]="'wip badge ' + getWipLimitClass()" *ngIf="tickets" data-toggle="tooltip" data-placement="top" [title]="'Limit: ' + (status.wipLimit === null ? '∞' : status.wipLimit)">{{tickets.length}}</span>
  </div>
  <div class="content">
    <app-ticket-card [details]="ticket" *ngFor="let ticket of tickets"></app-ticket-card>
    <app-column-error [error]="error" *ngIf="error"></app-column-error>
  </div>
</div>
